@charset "utf-8";

/**
 * --------------------------------
 * 기본 스타일 코드
 * --------------------------------
 */

html {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	overflow-y: visible;
}

body {
	margin: 0;
}